<h1>New Drinks</h1>
<%= form_with url: "/bars/#{@bar.id}/drinks", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :alcoholic_bev %>
  <%= f.text_field :alcoholic_bev %>
  <%= f.submit "Create Drink" %>
<% end %>
