<header><%= link_to "Bars", "/bars" %></<header>

<h1>Drink Menu</h1>

<% @drinks.each do |drink| %>
  <p><%= drink.name  %></p>
  <p><%= drink.cost  %></p>
  <p><%= drink.alcoholic_bev  %></p>

  <p><%= link_to "Update Drink", "/drinks/#{drink.id}/edit" %></p>
  <p><%= link_to "Delete #{drink.name}'s info", "/drinks/#{drink.id}", method: :delete %></p>

<% end %>
