<header><%= link_to "Drinks", "/drinks" %></<header>
<header><%= link_to "Bars", "/bars" %></<header>
<h1>Bars</h1>

<% @bars.each do |bar| %>
  <p><%= bar.name %></p>
  <p><%= bar.employee_count %></p>
  <p><%= bar.license %></p>
  <p><%= bar.created_at %></p>
  <p><%= link_to "Edit #{bar.name}'s Info", "/bars/#{bar.id}/edit" %></p>
<% end %>

 <%= link_to "New Bar", "/bars/new" %>
