<h1><%= @bar.name %></h1>
<%= @bar.employee_count %>
<%= @bar.license %>

<p><%= @bar.drinks_count %></p>

<%= link_to "#{@bar.name}'s Drinks Here", "/bars/#{@bar.id}/drinks" %>

<%= link_to "Update Bar", "/bars/#{@bar.id}/edit" %>

<%= link_to "Delete Bar", "/bars/#{@bar.id}", method: :delete %>
