<h1><%= @performer.name %></h1>

<p><%= @performer.age %></p>
<p><%= @performer.repeater %></p>

<%= link_to "Update Performer", "/performers/#{@performer.id}/edit" %>
<%= link_to "Delete Performer", "/performers/#{@performer.id}", method: :delete %>
